/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
h1{
  color: purple;
  font-size: 200%;
}

h2{
  font-family: "times new roman";
  margin-left: 10px;
}

p{
  font-family: "times new roman";
  text-indent: 20px;
  margin-left: 10px;
}

#content{
  background-color: #a870e3;
  width: 500px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: dashed 1px #444444;
  font-size: 20px;
}